body{
    background: url(../images/movie-theater-wallpaper-7.jpg);
    background-size: 1300px;
    color: white;
}

#title {
    text-align: center;
    font-family: 'Righteous', cursive;
}

#trivia-box {
    background-color: antiquewhite;
    height: 500px;
    color: red;
    text-align: center;
    margin-top: 75px;
}

#timer {
    color: brown;
}